*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
    
}

body{
    background: url(images/judge-8842046_1280.png);
    background-blend-mode: multiply;
    background-color: rgb(70, 69, 69);
    background-position:center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
}

header{
    display: flex;
    flex-direction: column;
    background-color:rgb(1, 1, 48);
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100%;
    text-align: center;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: end;
    align-items: center;
}

.headerlogo{
    width: 140px;
    height: 110px;
    filter: drop-shadow(0 0 8px black);
}

a{
    text-decoration: none;
    color: white;   
 }

 #highlight{
    color: #daa520;
    transition: ease-in 1s;
}

#highlight:hover{
    color: white;
}


nav a{
    text-decoration: none;
    padding-block: 15px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a:hover{
    background-color: #daa520;
    padding-inline: 5px;
    color: white;
    border-radius: 5px;
    width: 120px;
    transition: ease-in-out 0.5s;
    text-align: center;
}

nav a:active{
    color:white ;
    background-color: black;
    border-radius: 5px;
}

nav a i{
    font-size: 11px;
    padding-right: 5px;
}

#aboutone{
    display: flex;
    flex-direction: column;
    height: 60vh;
    padding-inline: 60px;
    padding-bottom: 20px;
    gap: 10px;
    margin-left: 60px;
}

#aboutone main{
    padding-inline: 60px;
}


#aboutone main p{
    color: white;
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    text-align: justify;
}


.aboutintro h4{
    text-align: left;
    font-size: 30px;
    color: white;
    padding-inline: 55px;
    padding-top: 80px;
    color:#daa520;
}

.figures{
    color: #daa520;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 120px;
    padding-block: 40px;
    margin-left: 60px;
}

.figures div{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    gap: 8px;
}

.figures span{
    font-size: 20px;
}

.anifigures1{
    animation-name: Ruby;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    
}

.anifigures2{
    animation-name: Ruby;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-timing-function: ease-in;
}

.anifigures3{
    animation-name: Ruby;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay:2s ;
    animation-timing-function: ease-in;
}

@keyframes Ruby{
0%{color: #daa520;}
50%{color: white;}
}

.figures div .one{
border-right: #daa520 1px solid;
padding-right: 30px;
}

#abouttwo, #aboutthree{
    border-top: 8px solid white;
    padding-inline: 60px;
    margin-left: 60px;
}

#abouttwo main{
    color:white;
    font-size: 15px;
    padding-inline: 60px;
    padding-block: 40px;
}

#abouttwo main ul li{
    margin-top: 10px;
}

#aboutthree main{
    padding-inline: 100px;
    padding-block: 40px;
    display:flex;
    color: white;
    font-size: 20px;
    justify-content: space-between;
}

#aboutthree main div i{
    font-size: 1.5rem;
    color:white;
}

.imgclass{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 20px;
}

button{
    height: 45px;
    width: 150px;
    color: black;
    background-color: #daa520;
    border: 1px solid white;
    font-size: 18px;
    color: white;
    font-weight: 600;
    margin-top: 10px;
}

button:hover{
    background-color: rgb(1, 1, 48);
}

a button:active{
    background-color: white;
    color:black;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

footer{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding-inline: 30px;
    margin-left: 30px;
    padding-block: 5px;
    font-size: 13px;
}

.footerdiv ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.footerdiv li{
    list-style: none;
    text-align: left;
    padding-block: 3px;
}

.footerdiv li a:hover{
    color: #daa520;
}

.footerdiv li a:active{
    background-color: white;
    padding: 5px;
    border-radius: 2px;
}

#fd1{
display: flex;
flex-direction: column;
gap: 10px;
}

.footerdiv ul .firstchild{
    font-weight: 600;
    font-size: 15px;
}

@media screen and (max-width:768px) {
    *{
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        overflow-x: clip;
    }
   

        
header{ 
    padding-inline: 20px;
    padding-block: 20px;
    height: 90px;
    width: 90%; 
    margin-inline: auto;
   
}

header .logo img{
   justify-content: center;
}

nav{ 
   background-color: rgb(1, 1, 48);
   justify-content: center;
   align-items: center;
   flex-direction: row;
   justify-content: space-evenly;
   padding-inline: 30px;
   width: 100%;
}

nav a{
    font-size: 8px;
    padding-block: 10px;
    padding-inline: 5px;
}

nav a:hover{
    width: 65px;
}

nav a:active{
    width: 65px;
}

nav a i{
    font-size: 5px;
}

#aboutone .aboutintro h4{
    text-align: center;
    font-size: 20px;
    padding-top: 160px;    
    }

 #aboutone{
    height: 70vh;
    width: 98vw;
    margin: auto;
    padding-inline: 1px;
    font-size: 10px;
    }

 

.figures{
    padding-inline: 10px;
    padding-block: 20px;
    margin: auto;
    justify-content: center;
    align-items: center;
 }

.figures div{
    font-size: 10px;
}

.figures span{
    font-size:8px;
    }

        .figures div .one{
            margin-right: 10px;
        }

        #abouttwo{
            padding-inline: 8px;
            margin: auto;
        }

        #abouttwo h4, #aboutthree h4{
        text-align: center;
        font-size: 20px;
    
        }

        #abouttwo ul{
            text-align: justify;
        }

        #aboutone main p, #abouttwo main ul li{
            font-size: 10px;
        }

        #aboutthree{
            margin: auto;
        }

        #aboutthree main div{
            display: block;
            font-size: 10px;
        }

        #aboutthree main{
            justify-content:center ;
        }

        #aboutthree main i{
            font-size: 10px;
            padding: 20px;
        }
    
        footer{
            width: 350px;
            display: grid;
            grid-template-columns:repeat(3, 30%);
            grid-template-rows: auto auto;
            gap:5px;
            margin: auto;
            padding-inline:30px;
            
            }
            .footerdiv:first-child{
            grid-column: 1 / -1;
            margin: auto;
            }
        
            footer .logo {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        
            .footerdiv{
            margin: auto;
            }
        
            footer ul li, .footerdiv a, .footerdiv p{
                font-size: 9px;
            }
        
            .footerdiv ul .firstchild{
                font-size: 12px;
          }
    }       