*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    background: url(images/judge-8842046_1280.png);
    background-blend-mode: multiply;
    background-color: rgb(71, 71, 71);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   
}

.bodydiv{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

header{
    display: flex;
    background-color:black;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding-inline: 100px; 
}

.headerlogo{
    width: 140px;
    height: 110px;
    filter: drop-shadow(0 0 8px black);
}


input[type=submit]{
    height: 35px;
    width: 100px;
    color: black;
    background-color: #ff5733;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 14px;
    color: white;
    font-weight: 600;
    margin-block: 15px;
    margin-inline: 5px;
}

input[type=submit]:hover{
    background-color: #c94427;
}

input[type=submit]:active{
    background-color: black;
    color:#ff5733;
}

#highlight{
    border-bottom: 3px solid #ff5733;
    border-radius: 2px;
    transition: ease-in-out 1s;
}

nav a{
    text-decoration: none;
    padding: 15px;
    color: #ff5733;
    font-size: 15px;
    font-weight: bold;
}

nav a:hover{
    background-color: #ff5733;
    color: white;
    border-radius: 5px;
    transition: ease-in-out 1s;
}

nav a:active{
    color:white ;
    background-color: black;
    border-radius: 5px;
}

.formdiv{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 78%;
    padding: 18px;
    margin-block: 60px;
    border: 1px solid white;
}

.formsection{
    background-color: transparent;
    width: 72%;
    height: 390px;
    padding-block: 10px;
    color: white;
    padding: 20px;
}

.formsection h2, .formsection h4, form{
    padding-block: 15px;
}


aside{
    height: 380px;
    width: 40vh;
    background-color: #ff5733;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 45px;
}

aside p{
    font-size: 15px;
    padding: 5px;
}

aside h3{
    padding: 5px;
}


.formsection h2{
font-weight: bolder;
font-size: 50px;
color: #ff5733 ;
}

.divform{
    padding: 5px;
}

.divform h5{
    margin-bottom: 8px;
}

.formflex{
    display: flex;

}

input[type=text], [type=tel], [type=mail]{
    width: 300px;
    height: 35px;
    background-color: whitesmoke;
    border: none;
    padding: 5px;
    border-radius: 3px;
}

.mapdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 40px;
}

footer{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding-inline: 40px;
    padding-block: 5px;
    font-size: 13px;
}

.footerdiv ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.footerdiv li{
    list-style: none;
    text-align: left;
    padding-block: 3px;
}

footer a{
    text-decoration: none;
    color: white;
}

.footerdiv li a:hover{
    color: #ff5733;
}

.footerdiv li a:active{
    background-color: white;
    padding: 5px;
    border-radius: 2px;
}

 #fd1{
display: flex;
flex-direction: column;
gap: 10px;
}

.footerdiv ul .firstchild{
    font-weight: 600;
    font-size: 15px;
}


@media screen and (max-width:768px) {
    *{
        margin: 0;
        padding: 0;
    }
    
        header{
            display: block;
            text-align: center;
        }
    
        nav a{
            display: block;
        }
    
        nav a{
            font-size: 15px;
        }
    
        nav a:hover{
            background-color: #ff5733;
        }


        #contactform{
            height: 110vh;
            margin: 0;
            padding: 0;
            }
        
            #contactform h4, #contactform h5{
            font-size: 10px;
            }
        
            .formsection{
            position: absolute;
            gap: px;
            height: 25vh;
            }
        
            .formdiv{
            position: relative;
            display: flex;
            flex-direction: column;
            height: 99vh;
            }
        
            .formdiv h2{
            font-size: 25px;
            }
        
            .formflex{
            display: flex;
            flex-direction: column;
            }
        
            input[type=mail], input[type=tel], input[type=text], option{
                width: 200px;
                height: 15px;
            }
        
            aside{
                width: 28vh;
                height: 25vh;
                position: absolute;
                top: 0;  
                
            }

            .mapdiv{
                width: 345;
                height: 250;
                margin: auto;
                padding-inline: 30px;
                padding-block: 20px;
            }
        
            footer{
            display: grid;
            grid-template-columns: 40% 40%;
            column-gap: 60px;
            row-gap: 10px;
            padding-inline: 70px;
            }
        
            .footerdiv{
                width:100px;
            }
        
            .logo{
                font-size: 15px;
            }
        
            .footerdiv li, .footerdiv a, .footerdiv p{
                font-size: 12px;
            }
    }

/* form{
    border: 1px solid black;
    padding:20px;
background-color: white;
border-radius: 10px;
}

h1{
    text-align: center;
}

.formdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
}

input{
    width: 150px;
    height: 25px;
}

input[type=email]{
    width: 475px;
    
}

input[type=submit]{
background-color: goldenrod;
border-radius: 5px;
height: 30px;
margin: 8px;
width: 80px;
font-size: 17px;
}

input[type=submit]:hover{
    background-color: white;
    color: #550000;
}

.contactflex{
    display: flex;
    gap: 10px;
    
}

.contactdiv2{
    display: flex;
    gap: 10px;
}

.addressdiv input[type=text]{
 width: 310px;   
}


input[type=select]{
    width: 200px;
}

select{
    width:480px;
    height:30px;
}


.contactdiv h5{
 display: flex;   
} */