*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    background: url(images/judge-8842046_1280.png);
    background-blend-mode: multiply;
    background-color: rgb(71, 71, 71);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   
}

.bodydiv{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

header{
    display: flex;
    background-color:black;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding-inline: 100px; 
}

.headerlogo{
    width: 140px;
    height: 110px;
    filter: drop-shadow(0 0 8px black);
}


input[type=submit]{
    height: 35px;
    width: 100px;
    color: black;
    background-color: #ff5733;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 14px;
    color: white;
    font-weight: 600;
    margin-block: 15px;
    margin-inline: 5px;
}

input[type=submit]:hover{
    background-color: #c94427;
}

input[type=submit]:active{
    background-color: black;
    color:#ff5733;
}

#highlight{
    border-bottom: 3px solid #ff5733;
    border-radius: 2px;
    transition: ease-in-out 1s;
}

nav a{
    text-decoration: none;
    padding: 15px;
    color: #ff5733;
    font-size: 15px;
    font-weight: bold;
}

nav a:hover{
    background-color: #ff5733;
    color: white;
    border-radius: 5px;
    transition: ease-in-out 1s;
}

nav a:active{
    color:white ;
    background-color: black;
    border-radius: 5px;
}

.formdiv{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 78%;
    padding: 18px;
    margin-block: 60px;
    border: 1px solid white;
}

.formsection{
    background-color: transparent;
    width: 72%;
    height: 390px;
    padding-block: 10px;
    color: white;
    padding: 20px;
}

.formsection h2, .formsection h4, form{
    padding-block: 15px;
}


aside{
    height: 380px;
    width: 40vh;
    background-color: #ff5733;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 45px;
}

aside p{
    font-size: 15px;
    padding: 5px;
}

aside h3{
    padding: 5px;
}


.formsection h2{
font-weight: bolder;
font-size: 50px;
color: #ff5733 ;
}

.divform{
    padding: 5px;
}

.divform h5{
    margin-bottom: 8px;
}

.formflex{
    display: flex;

}

input[type=text], [type=tel], [type=mail]{
    width: 300px;
    height: 35px;
    background-color: whitesmoke;
    border: none;
    padding: 5px;
    border-radius: 3px;
}

.mapdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 40px;
}

footer{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding-inline: 40px;
    padding-block: 5px;
    font-size: 13px;
}

.footerdiv ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.footerdiv li{
    list-style: none;
    text-align: left;
    padding-block: 3px;
}

footer a{
    text-decoration: none;
    color: white;
}

.footerdiv li a:hover{
    color: #ff5733;
}

.footerdiv li a:active{
    background-color: white;
    padding: 5px;
    border-radius: 2px;
}

 #fd1{
display: flex;
flex-direction: column;
gap: 10px;
}

.footerdiv ul .firstchild{
    font-weight: 600;
    font-size: 15px;
}


@media screen and (max-width:768px) {
    *{
        margin: 0;
        padding: 0;
    }
    
        header{
            display: block;
            text-align: center;
        }
    
        nav a{
            display: block;
        }
    
        nav a{
            font-size: 15px;
        }
    
        nav a:hover{
            background-color: #ff5733;
        }


        #contactform{
            height: 200vh;
            margin: 0;
            padding: 0;
            }
        
            #contactform h4, #contactform h5{
            font-size: 10px;
            }
        
            .formsection{
            height: 100vh;
            }
        
            .formdiv{
            flex-direction: column-reverse;
            height: 160vh;
            border-radius: 5px;
            }
        
            .formdiv h2{
            font-size: 25px;
            }
        
            .formflex{
            display: flex;
            flex-direction: column;
            }
        
            input[type=mail], input[type=tel], input[type=text], select, option{
                width: 200px;
                height: 30px;
            }
        
            .submitbtn {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        
            aside{
                width: 30vh;
                height: 40vh;
                border-radius: 5px;
            }

            .mapdiv{
                width: 400;
                height: 200;
                margin: auto;
                padding-inline: 30px;
                padding-block: 20px;
            }
            footer{
                width: 350px;
                display: grid;
                grid-template-columns:repeat(3, 30%);
                grid-template-rows: auto auto;
                gap:5px;
                margin: auto;
                padding-inline:10px;
                
                }
                .footerdiv:first-child{
                grid-column: 1 / -1;
                margin: auto;
                }
            
                footer .logo {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            
                .footerdiv{
                margin: auto;
                }
            
                footer ul li, .footerdiv a, .footerdiv p{
                    font-size: 9px;
                }
            
                .footerdiv ul .firstchild{
                    font-size: 12px;
                }
    }
 #550000