*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    background: url(images/judge-8842046_1280.png);
    background-blend-mode: multiply;
    background-color: rgb(71, 71, 71);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 
   
}

.bodydiv{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

header{
    display: flex;
    flex-direction: column;
    background-color:rgb(1, 1, 48);
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100%;
    text-align: center;
}

.headerlogo{
    width: 140px;
    height: 110px;
    filter: drop-shadow(0 0 8px black);
}

.bodydiv{
    margin-left: 80px;
}

h2{
    color: white;
}

#highlight{
    color: #daa520;
    transition: ease-in 1s;
}

#highlight:hover{
    color: white;
}


nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: end;
    align-items: center;
}

nav a{
    text-decoration: none;
    padding-block: 15px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a:hover{
    background-color: #daa520;
    padding-inline: 5px;
    color: white;
    border-radius: 5px;
    width: 120px;
    transition: ease-in-out 0.5s;
    text-align: center;
}

nav a:active{
    color:white ;
    background-color: black;
    border-radius: 5px;
}

nav a i{
    font-size: 11px;
    padding-right: 5px;
}


.formdiv{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 78%;
    padding: 18px;
    margin-block: 60px;
    border: 4px solid white;
}

.formsection{
    background-color: transparent;
    width: 72%;
    height: 390px;
    padding-block: 10px;
    color: white;
    padding: 20px;
}

.formsection h2, .formsection h4, form{
    padding-block: 15px;
}


aside{
    height: 360px;
    width: 30vh;
    background-color: rgb(1, 1, 48);
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}

aside p{
    font-size: 12px;
    padding: 5px;
}

aside h3{
    padding: 5px;
}

#contactform{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 36px;
}

#contactform h2{
    color: white;
}

.formsection h2{
font-weight: bolder;
font-size: 30px;
color: white ;
}
.formsection h4{
    font-size: 15px;
    color: white;
}

.divform{
    padding: 5px;
}

.formflex{
    display: flex;

}

input[type=text], [type=tel], [type=mail]{
    width: 290px;
    height: 30px;
    background-color: white;
    border: none;
    padding: 5px;
    border-radius: 3px;
    border: 2px solid #daa520;
}

input[type=submit]{
    height: 35px;
    width: 100px;
    background-color: #daa520;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 14px;
    font-weight: 600;
    margin-block: 30px;
    margin-inline: 5px;
    color: white;
}


input[type=submit]:hover{
    background-color: rgb(1, 1, 48);
    border: 2px solid gray;
    font-weight: 700;
}

input[type=submit]:active{
    background-color: black;
    color:rgb(1, 1, 48);
}

select{
    background-color: whitesmoke;
    color: black;
    width: 310px;
    height: 35px;
    border-radius: 5px;
    border: 2px solid #daa520;
}


.mapdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 40px;
    margin-left: 100px;
}

footer{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding-inline: 40px;
    padding-block: 5px;
    font-size: 13px;
    margin-left: 30px;
}

.footerdiv ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.footerdiv li{
    list-style: none;
    text-align: left;
    padding-block: 3px;
}

footer a{
    text-decoration: none;
    color: white;
}

.footerdiv li a:hover{
    color: #daa520;
}

.footerdiv li a:active{
    background-color: white;
    padding: 5px;
    border-radius: 2px;
}

 #fd1{
display: flex;
flex-direction: column;
gap: 10px;
}

.footerdiv ul .firstchild{
    font-weight: 600;
    font-size: 15px;
}


@media screen and (max-width:768px) {
    *{
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        overflow-x: clip;
    }
    
    header{ 
        padding-inline: 20px;
        padding-block: 20px;
        height: 90px;
        width: 90%; 
        margin: auto;

       
    }
    
    header .logo img{
       justify-content: center;
    }
    
    nav{ 
       background-color: rgb(1, 1, 48);
       justify-content: center;
       align-items: center;
       flex-direction: row;
       justify-content: space-evenly;
       padding-inline: 30px;
       width: 100%;
    }
    
    nav a{
        font-size: 8px;
        padding-block: 10px;
        padding-inline: 5px;
    }
    
    nav a:hover{
        width: 65px;
    }
    
    nav a:active{
        width: 65px;
    }

    nav a i{
        font-size: 5px;
    }

    .bodydiv{
        margin: auto;
        padding-top: 80px;
    }

    #contactform{
        height: 120vh;
        margin: 0;
        padding: 0;
        
        }
    
        #contactform h4, #contactform h5{
        font-size: 10px;
        }
    
        .formsection{
        height: 85vh;
        }
    
        .formdiv{
        flex-direction: column-reverse;
        height: 140vh;
        }
    
        .formdiv h2{
        font-size: 25px;
        }
    
        .formflex{
        display: flex;
        flex-direction: column;
        }
    
        input[type=mail], input[type=tel], input[type=text], select, option{
            width: 200px;
            height: 30px;
        }
    
        .submitbtn {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        aside{
            width: 28vh;
            height: 30vh;
            border-radius: 5px;
        }

            .mapdiv{
                width: 400;
                height: 200;
                margin: auto;
                padding-inline: 30px;
                padding-block: 20px;
            }
            footer{
                width: 350px;
                display: grid;
                grid-template-columns:repeat(3, 30%);
                grid-template-rows: auto auto;
                gap:5px;
                margin: auto;
                padding-inline:30px;
                
                }
                .footerdiv:first-child{
                grid-column: 1 / -1;
                margin: auto;
                }
            
                footer .logo {
                    margin: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            
                .footerdiv{
                margin: auto;
                }
            
                footer ul li, .footerdiv a, .footerdiv p{
                    font-size: 9px;
                }
            
                .footerdiv ul .firstchild{
                    font-size: 12px;
                }
    }
 