*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
body{
    background: url(images/judge-8842046_1280.png);
    background-blend-mode: multiply;
    background-color: rgb(70, 69, 69);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
}
header{
    display: flex;
    flex-direction: column;
    background-color:rgb(1, 1, 48);
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100%;
    text-align: center;
}

.headerlogo{
    width: 140px;
    height: 110px;
    filter: drop-shadow(0 0 8px black);
}


.teamintro{
    padding-inline: 120px;
    padding-block: 80px;
    color: white;
    font-weight: 600;
    margin-left: 60px;
}

.teamintro h3{
    font-size: 32px;
    color:#daa320;
}

.teamintro p{
    font-size: 22px;
}

.teamdiv{
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    height: 323px;
    width: 250px;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-left: 80px;
}

.teamdiv img{
    height: 280px;
    width: 250px;
    border-radius: 10px;
}

.teamdiv:hover{
    border: 2px solid #daa520;
    transform: scale(1.2) ;
    transition: 2s ease-in-out;
    

}

.groupteamdiv{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    justify-content: space-around;
    padding-inline: 80px;
    margin-left: 20px;
}

.teamdiv h4{
font-size: 18px;
color: #daa520;
}

.teamdiv p{
font-size: 15px;
}

button{
    height: 48px;
    width: 150px;
    color: black;
    background-color: #daa520;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 14px;
    color: white;
    font-weight: 600;
    margin-top: 10px;
}

button:hover{
    background-color: rgb(1, 1, 48);
}

a button:active{
    background-color: black;
    color:white;
}

#highlight{
    color: #daa520;
    transition: ease-in 1s;
}

#highlight:hover{
    color: white;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: end;
    align-items: center;
}


nav a{
    text-decoration: none;
    padding-block: 15px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a:hover{
    background-color: #daa520;
    padding-inline: 5px;
    color: white;
    border-radius: 5px;
    width: 120px;
    transition: ease-in-out 0.5s;
    text-align: center;
}

nav a:active{
    color:white ;
    background-color: black;
    border-radius: 5px;
}

nav a i{
    font-size: 11px;
    padding-right: 5px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 40px;
    margin-left: 100px;
}


footer{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding-inline: 80px;
    padding-block: 5px;
    font-size: 13px;
    margin-left: 30px;
}

.footerdiv ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footerdiv li{
    list-style: none;
    text-align: left;
    padding-block: 3px;
}

#fd1{
display: flex;
flex-direction: column;
gap: 10px;
}

.footerdiv ul .firstchild{
    font-weight: 600;
    font-size: 15px;
}
.footerdiv a, button a{
    color: white;
    text-decoration: none;
}

.footerdiv li a:hover{
    color: #daa520;
}

.footerdiv li a:active{
    background-color: white;
    padding: 5px;
    border-radius: 2px;
}

@media screen and (max-width:768px) {
    *{
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        overflow-x: clip;
        
    }
    
    

    header{ 
        padding-inline: 20px;
        padding-block: 20px;
        height: 90px;
        width: 90%; 
        margin: auto;

       
    }
    
    header .logo img{
       justify-content: center;
    }
    
    nav{ 
       background-color: rgb(1, 1, 48);
       justify-content: center;
       align-items: center;
       flex-direction: row;
       justify-content: space-evenly;
       padding-inline: 30px;
       width: 100%;
    }
    
    nav a{
        font-size: 8px;
        padding-block: 10px;
        padding-inline: 5px;
    }
    
    nav a:hover{
        width: 65px;
    }
    
    nav a:active{
        width: 65px;
    }

    nav a i{
        font-size: 5px;
    }
    
    .btn{
        margin: auto;
        padding-block: 50px;
    }

        button{
            width: 90px;
            font-size: 12px;
            margin: auto;
    }

      .teamintro{
        padding-inline: 40px;
        width: 80vw;
        padding-top: 150px;
        margin: auto;
        top: 120px;
      }

      .teamintro h3{
        font-size: 20px;
        margin-bottom: 10px;
        text-align: center;
      }

      .teamintro p{
        font-size: 10px;
      }

      .groupteamdiv{
        grid-template-columns: auto;
        padding-inline: 20px;
        margin: auto;
      }
       
      .teamdiv{
        margin: auto;
        height: 300px;
      }

      .teamdiv h4, .teamdiv p{
        font-size: 10px;
      }

      footer{
        width: 350px;
        display: grid;
        grid-template-columns:repeat(3, 30%);
        grid-template-rows: auto auto;
        gap:5px;
        margin: auto;
        padding-inline:30px;
        
        }
        .footerdiv:first-child{
        grid-column: 1 / -1;
        margin: auto;
        }
    
        footer .logo {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        .footerdiv{
        margin: auto;
        }
    
        footer ul li, .footerdiv a, .footerdiv p{
            font-size: 9px;
        }
    
        .footerdiv ul .firstchild{
            font-size: 12px;
        }
    }